h1
	{
		font-size:80px;
		font-family:'Monotype cursiva';
		text-align:center;
		color:black;
    	font-weight: 900
		
	}
img
	{
		height:550px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
