{% load staticfiles %}
<html>
<head>
</head>
<body>
<link rel="stylesheet" href='{% static "css/home_style.css" %}'>
<ul>
  <li><a>Welcome {{ user }}</a></li>
  </ul>
  <div class="form">
  <form action='{% url "run" %}' method="GET" name="form1">
	{% csrf_token %}
	<br>
	<input value="Run Container" type="Submit" name="run"><br><br>
  </form>
<form action='{% url "view" %}' method="GET" name="form2">
	{% csrf_token %}
	
	<br>
	<br><input value="View list of Container" type="Submit" name="view"><br><br>
</form>

</div>
  


</body>
</html>