{% load staticfiles %}
<html>
<head>
	<title>
	</title>
</head>
<body >
	<ul>
  <li><a href="{% url 'register' %}">Sign up</a></li></li>
  </ul>
	<h1>Login</h1>
	<!-- <hr> -->
	<link rel="stylesheet" href="style_new.css" >
	<div class="center">
	<div class="form1">
	<form action="#" method="POST">
		<div class="input">
	<br>
	<h3>Username</h3>
	<input name="Username" type="text"><br>
	<h3>Password</h3>
	<input name="Password" type="text"><br><br>

</div>
<div class="submit">
	<input name="Submit" type="Submit" value="Submit">
	<br><br><br>

</div>


</form>
</div>
</div>
</body>
</html>