<html>
<head>
	</head>
	<body>
<link rel="stylesheet" href="view_style.css">
	<ul>
  <li><a>Welcome {{user}}</a></li>
  </ul>
  <div class="form">
  <form action="" method="POST" name="form1">
	<!-- {%csrf_token%} -->
	<br>
	<input value="All" type="Submit" name="All">
<form action=""method="POST" name="form2">
	<!-- {%csrf_token%} -->
	<input value="Exited" type="Submit" name="exit">
	<form action=""method="POST" name="form3">
	<!-- {%csrf_token%} -->
	<input value="Running" type="Submit" name="run">
</form>

</div>
	</body>
</html>
